/* set font family and other global settings */
* {
  box-sizing: border-box;
  font-family: "Times New Roman", sans-serif;
  margin: 0;
  background-color: var(--light-gray);
}

/* set variables */
:root {
  --light-gray: #e5e5e5;
  --light-goldenrod: #ffec8b;
  --dark-gray: #525662;
  --azores-blue: #0085a7;
  --dusky-purple: #99649a;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* center everything nicely. */
.app-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

/* add some buffer to the top */
.app-game {
  margin-top: 5rem;
}

/* allow text to be relatively positioned to this container */
.game-slide {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

/* format the game's text. place it correctly on the screen and set its font size + color */
.game-text {
  font-size: 1.5rem;
  position: absolute;
  color: var(--light-gray);
  background-color: transparent;
  transition: all 0.5s ease-in;
  animation: fade-in 1s;
}

/* first slide specific styles */
.game-text__first {
  top: 30%;
  left: 20%;
  width: 50%;
}

/* second slide specific styles */
.game-text__second {
  top: 10%;
  left: 20%;
  width: 40%;
}

.game-text__third {
  height: 60%;
  width: 65%;
  top: 15%;
  left: 20%;
  overflow: auto;
}

.game-text__fourth,
.game-text__fifth,
.game-text__sixth,
.game-text__twelfth {
  top: 10%;
  left: 20%;
  width: 65%;
  height: 80%;
  overflow: auto;
}

.game-text__seventh,
.game-text__eighth {
  width: 50%;
  top: 15%;
}

.game-text__ninth,
.game-text__tenth,
.game-text__thirteenth {
  width: 40%;
  top: 15%;
  left: 20%;
}

.game-text__eleventh,
.game-text__fourteenth,
.game-text__fifteenth,
.game-text__sixteenth,
.game-text__seventeenth,
.game-text__eighteenth,
.game-text__nineteenth,
.game-text__twentieth,
.game-text__twentyfirst,
.game-text__twentysecond,
.game-text__twentythird,
.game-text__twentyfourth {
  top: 15%;
  left: 20%;
  width: 60%;
}

.link-minimal,
.link-minimal-loop {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--light-goldenrod);
  cursor: pointer;
}

.link-minimal-loop {
  color: var(--azores-blue);
}

.link-minimal:hover {
  transition: all 0.25s ease-in;
  color: var(--light-gray);
}

.link-minimal-loop:hover {
  color: var(--dusky-purple);
}

.game-init {
  display: grid;
  justify-items: center;
  grid-template-columns: 4fr 1fr;
  column-gap: 1rem;
  row-gap: 2rem;
}

.game-init__heading {
  grid-column: 1/3;
  color: var(--dark-gray);
}

/* style for initial input where user inputs their name */
.game-init__input {
  border: none;
  height: 3rem;
  width: 16rem;
  border-radius: 1.5rem;
  font-size: 1.25rem;
  padding-left: 0.75rem;
  border: 2px solid var(--dark-gray);
}

.game-init__ok {
  border: none;
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: var(--dark-gray);
  border: 2px solid var(--dark-gray);
  cursor: pointer;
}
